<div class="profile-top">
  <h3 class="user-show-name">Your Profile </h3>
  <%= link_to "edit", edit_user_path, class: "edit-btn" %>
</div>

  <div class="profile-container">

    <div class="profile-show">
      <div class="profile-nav">
        <ul>
          <li class="profile-active profile-li">My Details</li>
          <li class="profile-li">My Bikes</li>
          <li class="bottom-profile-nav profile-li">Bookings I've made</li>
        </ul>
      </div>

      <!-- my details -->
      <div class="user-text my-details">
        <p class="profile-header">First Name</p>
        <p class="profile-field"><%= @user.first_name%></p>
        <p class="profile-header">Surname</p>
        <p class="profile-field"><%= @user.last_name%></p>
        <p class="profile-header">Username</p>
        <p class="profile-field"><%= @user.username%></p>
        <p class="profile-header">Email</p>
        <p class="profile-field"><%= @user.email%></p>
        <p class="profile-header">About me</p>
        <p class="profile-field"><%= @user.about_me%></p>
      </div>

      <%= image_tag @user.photo, class: "user-show-image my-details" %>
      <!-- my details -->


      <!-- my bikes -->

      <h4>bike card</h4>

      <h4>bike review</h4>


    </div>

  </div>



