<div class="profile-top">
  <h3 class="user-show-name">Your Profile </h3>
  <%= link_to "edit", edit_user_path, class: "edit-btn" %>
</div>

  <div class="profile-container">

    <div class="profile-show">
      <div class="profile-nav">
        <ul>
          <li class="profile-active profile-li">My Details</li>
          <li class="profile-li">My Bikes</li>
          <li class="bottom-profile-nav profile-li">Bookings I've made</li>
        </ul>
      </div>

      <!-- my details start-->
      <div class="user-text my-details">
        <p class="profile-header">Name</p>
        <p class="profile-field"><%= @user.first_name%> <%= @user.last_name%></p>
        <p class="profile-header">Username</p>
        <p class="profile-field"><%= @user.username%></p>
        <p class="profile-header">Email</p>
        <p class="profile-field"><%= @user.email%></p>
        <p class="profile-header">About me</p>
        <p class="profile-field"><%= @user.about_me%></p>
      </div>

      <%= cl_image_tag @user.photo, class: "user-show-image my-details" %>
      <!-- my details end -->


      <!-- my bikes start -->
      <div class="user-bikes my-bikes">
        <h5 class="align-center">My Bikes</h5>
        <div class="my-cards">
          <% @bikes.each do |bike| %>
            <%= link_to bike_path class: "no-underline" do %>
              <div class="my-card-category card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "#{bike.photo}" %>)">
              <%= bike.make %>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="reviews my-bikes">
        <h5 class="align-center">My Reviews</h5>

        <% if @reviews.size.positive? %>
          <% @reviews.each do |review| %>
            <div class="the-review">
              <p><%= review&.stars %> Stars - <%= review&.created_at.strftime("%d-%m-%y") %></p>
              <p><%= review&.description %></p>
            </div>
          <% end %>
        <% else %>
          <p>Yet to be reviewed!</p>
        <% end %>

      </div>
      <!-- my bikes end -->

      <!-- bookings I've made start -->
      <div class="bookings-made">
        <h5 class="align-center profile-bookings">Bookings I've made</h5>
        <% if @bookings.size.positive? %>
          <% @bookings.each do |booking| %>
            <div class="card-product">
              <img src=<%= image_path "#{booking.bike.photo}" %>>
              <div class="card-product-infos">
                <h2><%= booking.bike.make %><span> - £20<!-- <p><%#= booking.total %></p> --></span></h2> <p><%= booking.start_date %> til <%= booking.end_date %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You haven't rented any bikes yet!</p>
        <% end %>
      </div>
      <!-- bookings I've made end -->

    </div>
  </div>



