<div class="profile-top">
  <h3 class="user-show-name">Your Profile </h3>
  <%= link_to "edit", edit_user_path, class: "edit-btn" %>
</div>

  <div class="profile-container">

    <div class="profile-show">
      <div class="profile-nav">
        <ul>
          <li class="profile-active profile-li">My Details</li>
          <li class="profile-li">My Bikes</li>
          <li class="bottom-profile-nav profile-li">Bookings I've made</li>
        </ul>
      </div>

      <!-- my details start-->
      <div class="user-text my-details">
        <p class="profile-header">Name</p>
        <p class="profile-field"><%= @user.first_name%> <%= @user.last_name%></p>
        <p class="profile-header">Username</p>
        <p class="profile-field"><%= @user.username%></p>
        <p class="profile-header">Email</p>
        <p class="profile-field"><%= @user.email%></p>
        <p class="profile-header">About me</p>
        <p class="profile-field"><%= @user.about_me%></p>
      </div>

      <%= cl_image_tag @user.photo, class: "user-show-image my-details" %>
      <!-- my details end -->


      <!-- my bikes start -->
      <div class="user-bikes my-bikes">
        <div class="my-cards">
          <% @bikes.each do |bike| %>
            <div class="my-card-category card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "#{bike.photo}" %>)">
            <%= bike.make %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="reviews my-bikes">
        <h4>my reviews</h4>

      </div>
      <!-- my bikes end -->


    </div>
  </div>



