<div class="card-popup">
  <%= cl_image_tag bike.photo, style: 'width:100%;' %>
  <p><%= bike.bike_type %> - <%= bike.make %> <%= bike.model %></p>

  <p>£<%= bike.price %>per day</p>
  <hr>
  <div class="owner">
    <%= cl_image_tag bike.owner.photo, class: "avatar"%>
    <p>Owned by <%= bike.owner.username %></p>
  </div>
</div>

