
<div class="new-container">
  <div class="home-flex">
    <div class="cards-p">
      <% @bikes.each do |bike| %>
        <%= link_to bike_path(bike), style: "width: 100%" do  %>
          <div class="card-trip">
            <img src= <%= bike.photo %>>
            <div class="card-trip-infos">
              <div>
                <h2><%= bike.make %></h2>
                <p><%= bike.description %></p>
              </div>
              <h2 class="card-trip-pricing"> <%= "£#{bike.price} per day" %></h2>
              <img src=<%= bike.owner.photo %> class="card-trip-user avatar-bordered"/>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="map">
      <%= render 'shared/map' %>
    </div>
  </div>
</div>

















