<h1>Welcome on town bike</h1>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<div class="container">
  <% @bikes.each do |bike| %>
    <div class="card border-bottom">

      <p><strong><%= link_to "Bike", bike_url(bike) %></strong></p>
      <p>
       id: <%= bike.id %>
       make: <%= bike.make %>
       model: <%= bike.model %>
       | owner: <%= bike.owner.username %>
       price: <%= bike.price %>
       <%= image_tag bike.photo %>
       </p>

       <% if bike.bookings.size.zero? %>
         <p>Not ridden yet!</p>
       <% else %>
       <p><strong>Ridden By</strong></p>
         <% bike.bookings.each do |booking| %>
           <p>Rider: <%= booking.rider.username %>
            <% if booking.review %>
              <%= booking.review.stars %>
            <% else %>
              <p>No reviews</p>
            <% end %>
           </p>
         <% end %>
       <% end %>
     </div>
  <% end %>
</div>
