

<div class="lets-book-container">
  <div class="bike-img-container">
  <h1><%= @bike.bike_type %> - <%= @bike.make %> <%= @bike.model %></h1>
   <%= cl_image_tag @bike.photo, width: 600 %>
  </div>
  <div class="bike-info-container">
    <div class="lets-book-card">
      <div class="lets-book-header">
        <h2>Let's Ride!</h2>
        <p>£<%= @bike.price %> per day</p>
        <% @rating[:full_stars].times do |time| %>
          <i class="fas fa-star"></i>
        <% end %>
        <% @rating[:half_stars].times do |time| %>
          <i class="fas fa-star-half-alt"></i>
        <% end %>
        <% @rating[:empty_stars].times do |time| %>
          <i class="far fa-star"></i>
        <% end %>
        <hr>
      </div>
      <%= simple_form_for(Booking.new, :url => new_booking_path, :method => :get) do |f|%>
        <%= hidden_field_tag :bike_id, @bike.id %>
        <%= f.submit "Ride this Bike", class: "btn-ride" %>
      <% end %>
    </div>
    <div class="bike-owner-card">
      <div class="owner-details">
        <%= cl_image_tag @bike.owner.photo, class: "avatar"%>
        <h2><%= @bike.owner.first_name %> <%= @bike.owner.last_name %></h2>
      </div>
        <p>London, UK - joined <%= @bike.owner.created_at %></p>
        <hr>
      <div class="owner-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem molestiae pariatur totam dolor quas quam suscipit, enim cupiditate at doloribus placeat maxime sunt minus, fugiat dolores quod, repellendus ipsam debitis.</p>
      </div>
    </div>
  </div>
</div>
<br><br>

<div class="container col-10">

<!-- new code here -->
<div id="reviews">
  <% if @bike.reviews.blank? %>
    <div class="reviews-header" id="reviews-header">
      <h2><%= pluralize @bike.reviews.size, "Review" %></h2>
    </div>
  <% else %>
    <div class="reviews-header" id="reviews-header">
          <div class="reviews-summary">
            <h2><%= pluralize @bike.reviews.size, "Review" %></h2>
            <% @rating[:full_stars].times do |time| %>
                <i class="fas fa-star"></i>
              <% end %>
              <% @rating[:half_stars].times do |time| %>
                <i class="fas fa-star-half-alt"></i>
              <% end %>
              <% @rating[:empty_stars].times do |time| %>
                <i class="far fa-star"></i>
              <% end %>
          </div>
        </div>
        <hr>
    </div>

    <% @bike.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>





