<div class="booking-banner">
  <div class="booking-container">
      <a class="booking-navbar-logo">
        <%= link_to root_path do %>
          <img class="booking-navbar-logo" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
        <% end %>
      </a>
    <h4 class="booking-stage">Pick a Date <span class="stage-space"> > </span> <span class="stage-space"> <strong>Review Booking </strong></span><span class="stage-space"> > </span> <span class="stage-space"> Checkout </span></h4>
  </div>
</div>


<div class="container">
<div class="booking-container" style="display: flex;">
  <div class="booking-infos" style="padding: 5%;">
     <h1>Create payment</h1>
     <hr>
    <div class="booked-date" style="">
       <p>Start date : <%= @booking.start_date.strftime("%d-%m-%y") %></p>
        <p>End date : <%= @booking.end_date.strftime("%d-%m-%y") %></p>
    </div>
    <hr>
    <div class="booking-total-all" style="">
       <% date = (@booking.end_date - @booking.start_date).to_i %>
        <p>Booking cost : <%= date %> days x £<%= @booking.bike.price %> = £<%= @booking.total %></p>
              <% deposit = 30 %>
        <p>Bike deposit : £ <%= deposit %></p>
        <hr>
        <p class="booking-total"><strong>Total : £<%= (@booking.total + deposit) %></strong></p>
    </div>
    <%= simple_form_for([@booking, @payment]) do |f| %>
      <%= f.submit "Checkout", id:"sweetalert", class: "btn-blue checkout-btn" %>
    <% end %>
  </div>
  <div class="user-bike-container">
    <div class="card-trip">
      <%= cl_image_tag @booking.bike.photo %>
      <div class="card-trip-infos">
        <div>
          <h2><%= @booking.bike.model %> - <%= @booking.bike.make %></h2>
          <p><%= @booking.bike.description%></p>
        </div>
        <h2 class="card-trip-pricing">£<%= @booking.bike.price %> per day</h2>
        <%= cl_image_tag @booking.bike.owner.photo, class: "avatar" %>
      </div>
    </div>
  <div class="user-details user-booking-confirm">
    <%= cl_image_tag @booking.bike.owner.photo, class: "avatar" %>
    <div class="name-bookings">
      <p><%= @booking.bike.owner.username %> </p>
      <p><%= @booking.bike.bookings.size %> bookings</p>
    </div>
      <div class="stars">
        <p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </p>
      </div>
    </div>
  </div>
</div>
</div>



